{% extends "admin/base.html" %} {% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Card 1 - ACTIVE SUBSCRIPTIONS -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-arrow-up-right-circle fs-3 text-success mb-3"></i>
                    <h5 class="card-title">ACTIVE SUBSCRIPTIONS</h5>
                    <p class="card-text">Number of active subscriptions</p>
                    <p class="card-number" data-to="{{ACTIVE_SUBSCRIPTIONS}}" data-speed="1000">{{ACTIVE_SUBSCRIPTIONS}}</p>
                </div>
            </div>
        </div>

        <!-- Card 2 - TOTAL CUSTOMERS -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="../../static/images/icon/progress.png" alt="" class="mb-3">
                    <h5 class="card-title">TOTAL CUSTOMERS</h5>
                    <p class="card-text">Total number of customers</p>
                    <p class="card-number" data-to="{{TOTAL_CUSTOMERS}}" data-speed="1000">{{TOTAL_CUSTOMERS}}</p>
                </div>
            </div>
        </div>

        <!-- Card 3 - TOTAL PORTALS -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="../../static/images/icon/task.png" alt="" class="mb-3">
                    <h5 class="card-title">TOTAL PORTALS</h5>
                    <p class="card-text">Total number of portals</p>
                    <p class="card-number" data-to="{{TOTAL_PORTALS}}" data-speed="1000">{{TOTAL_PORTALS}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="container mt-5">

            <div class="box">
                <div class="box-header">
                    <h3>RECENT INVOICES</h3>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Customer Email</th>
                                <th>Customer Name</th>
                                <th>Amount Due</th>
                                <th>Amount Paid</th>
                                <th>Currency</th>
                                <th>Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in transactions %}
                            <tr>
                                <td>{{data["customer_email"]}}</td>
                                <td>{{data["customer_name"]}}</td>
                                <td>{{data["amount_due"]/100}}</td>
                                <td>{{data["amount_paid"]/100}}</td>
                                <td>{{data["currency"]}}</td>
                                <td><a href="{{data['invoice_pdf']}}"><button class="btn btn-primary">View Invoice</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
</section>


{% endblock %}