{% extends "admin/base.html" %} {% block content %}


<section id="dashboard">
	<div class="rows">
		<div class="status-bar">
			<ul>
				<li class="progres">
					<div class="icon">
						<img src="../../static/images/icon/progress.png" alt="">
					</div>
					<div class="content">
						<div class="numb" data-from="0" data-to="{{TOTAL_CUSTOMERS}}" data-speed="1000" data-waypoint-active="yes">{{TOTAL_CUSTOMERS}}</div>
						<div class="text">
							TOTAL CUSTOMERS
						</div>
					</div>
				</li><!-- /.progres -->
				<li class="progres">
					<div class="icon">
						<img src="../../static/images/icon/task.png" alt="">
					</div>
					<div class="content">
						<div class="numb" data-from="0" data-to="{{TOTAL_PORTALS}}" data-speed="1000" data-waypoint-active="yes">{{TOTAL_PORTALS}}</div>
						<div class="text">
							TOTAL PORTALS
						</div>
					</div>
				</li><!-- /.progres -->
				<li class="progres">
					<div class="icon">
						<img src="../../static/images/icon/tick.png" alt="">
					</div>
					<div class="content">
						<div class="numb" data-from="0" data-to="{{ACTIVE_SUBSCRIPTIONS}}" data-speed="1000" data-waypoint-active="yes">{{ACTIVE_SUBSCRIPTIONS}}</div>
						<div class="text">
							ACTIVE SUBSCRIPTIONS
						</div>
					</div>
				</li><!-- /.progres -->
				<li class="progres">
					<div class="icon">

						<i class="zmdi zmdi-pin-drop mdc-text-light-blue zmdi-hc-3x"></i>

					</div>
					<div class="content">
						<div class="numb" data-from="0" data-to="{{ACTIVE_STATES}}" data-speed="1000" data-waypoint-active="yes">{{ACTIVE_STATES}}</div>
						<div class="text">
							ACTIVE STATES
						</div>
					</div>
				</li>
				<!-- /.progres -->
			</ul>
		</div><!-- /.status-bar -->
	</div><!-- /.rows -->
	<div class="rows">
		<div class="box box-project" style="width: 100%;">
			<div class="box-header with-border" style="width: 100%;">
				<div class="box-title" >
					<h3>RECENT INVOICES</h3>
					
				</div>
				  <!-- /.box-tools pull-right -->
				  <div class="clearfix"></div>
			</div><!-- /.box-header -->
			<div class="box-content" style="width: 100%;">
				<table class="table"  style="width: 100%;" >
					<thead>
						<tr>
							<th>Customer Email</th>
							<th>Customer Name</th>
							<th>Amount Due</th>
							<th>Amount Paid</th>
							<th>currency</th>			            				
							<th>Invoice </th>
						</tr>
					</thead>
					<tbody>
						{% for data in transactions %}

						<tr>
					
							<td>{{data["customer_email"]}}</td>
							<td>{{data["customer_name"]}}</td>
							<td>{{data["amount_due"]/100}}</td>
							<td>{{data["amount_paid"]/100}}</td>
							<td>{{data["currency"]}}</td>

							<td> <a href="{{data['invoice_pdf']}} "><button> View Invoice </button></a></td>
							
						</tr>

						{% endfor %}
														
					</tbody>
				</table><!-- /.scroll -->
			</div><!-- /.box-content -->
		</div><!-- /.box box-project -->

		<div class="clearfix"></div>
	</div><!-- /.rows -->
</section><!-- /#dashboard -->

<section id="users">

	<div class="rows">
		<div class="box box-project" style="width: 100%;">
			<div class="box-header with-border" style="width: 100%;">
				<div class="box-title" >
					<h3>Users</h3>
					
				</div>
				  <!-- /.box-tools pull-right -->
				  <div class="clearfix"></div>
			</div><!-- /.box-header -->
			<div class="box-content" style="width: 100%;">
				<table class="table"  style="width: 100%;" >
					<thead>
						<tr>
							<th>Reference Email</th>
							<th>Name</th>
							<th>Email</th>

						</tr>
					</thead>
					<tbody>
						{% for data in users %}

						<tr>
					
							<td>{{data["client_reference_id"]}}</td>
							<td>{{data["customer_details"]["name"]  }}</td>
							<td>{{data["customer_details"]["email"]  }}</td>
							
						</tr>

						{% endfor %}
														
					</tbody>
				</table><!-- /.scroll -->
			</div><!-- /.box-content -->
		</div><!-- /.box box-project -->

		<div class="clearfix"></div>
	</div><!-- /.rows -->
</section><!-- /#dashboard -->

{% endblock %}